/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2014, 12:58:13 AM
    Author     : kylereis
*/
@font-face {
    font-family: "FreightSansProLight";
    src: url('../fonts/FreigSanProLig.otf') format('opentype');
}

@font-face {
    font-family: "FreightSansProSemiBold";
    src: url('../fonts/FreigSanProSem.otf') format('opentype');
}

img.logo {
    margin-left: 40px;
    margin-top: 25px;
    width: 95pt;
    height: 75pt;
}

img.social {
    float: right;
    width: 20pt;
    height: 20pt;
    margin-right: 6px;
    margin-top: 30px;
}

li {
    font-family: "FreightSansProLight";
    font-size: 12pt;
    display: inline;
    padding: .5em;
}

.menu {
    cursor: pointer;
    float: right;
    margin-right: 64pt;
    margin-bottom: 16pt;
}

#twitter {
    margin-right: 64pt;
}

.subcatagories {
    width: 100%;
    height: 26pt;
    float: right;
    margin-top: -12pt;
    background-color: #f9b625;
}

.hidden {
    display: none;
}

#twitter:hover, #facebook:hover, #instagram:hover {
    opacity: .5;
}

p.subs{
    float: right;
    margin-top: .5%;
    margin-right: 64pt;
    color: #ffffff;
}

a.subs {
    color: #ffffff;
}

/*.about:active {
    display: inline;
    background: #dd7d1b;
    font-family: "FreightSansProSemiBold";
    color: #ffffff;
}*/