/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2014, 12:58:13 AM
    Author     : kylereis
*/

img.logo {
    width: 95pt;
    height: 75pt;
}

img.social {
    width: 20pt;
    height: 20pt;
}
