/* 
    Created on : Jan 24, 2015, 9:07:07 PM
    Author     : kylereis
*/

@font-face {
    font-family: "FreightSansProLight";
    src: url('../fonts/FreigSanProLig.otf') format('opentype');
}

@media (min-width: 1300px) {
    body {
        background-image: url("../img/landing/Bishop-peak_gray.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-origin: content-box;
    }
    
    .holder {
        width: 1212px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1000px) and (max-width: 1299px){
    .holder {
        width: 912px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 700px) and (max-width: 999px){
    .holder {
        width: 612px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 700px) {
    body {
        background-image: url("../img/landing/Bishop-peak_gray.jpg");
        background-repeat: no-repeat;
    }
}

@media (max-width: 699px) {
    body {
        background-color: #959595;
    }
    
    .holder {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#CCC {
    //height: 200px;
    display: block;
    margin-top: 10pt;
    margin-left: auto;
    margin-right: auto;
}

p.tagline {
    padding-top: 7pt;
    padding-bottom: 7pt;
    margin-top: 10pt;
    margin-bottom: 20pt;
    margin-right: 8%;
    margin-left: 8%;
    text-align: center;
    font-family: "FreightSansProLight";
    font-size: 14pt;
    color: #ffffff;
    border-top-color: #ffffff;
    border-top-width: 1pt;
    border-top-style: solid;
    border-bottom-color: #ffffff;
    border-bottom-width: 1pt;
    border-bottom-style: solid;
}

.ministry {
    //display: table;
    margin-bottom: 20pt;
    //margin-left: auto;
    //margin-right: auto;
}

#choose {
    margin-left: 80pt;
    //width: 280px;
}

@media (min-width: 1440px) {
    p.tagline {
        width: 1200px;
        padding-top: 7pt;
        padding-bottom: 7pt;
        margin-top: 10pt;
        margin-bottom: 20pt;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-family: "FreightSansProLight";
        font-size: 14pt;
        color: #ffffff;
        border-top-color: #ffffff;
        border-top-width: 1pt;
        border-top-style: solid;
        border-bottom-color: #ffffff;
        border-bottom-width: 1pt;
        border-bottom-style: solid;
    }
    
    .holder {
        width: 1230px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
