/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2014, 7:13:29 PM
    Author     : kylereis
*/

@font-face {
    font-family: "FreightSansProLight";
    src: url('../fonts/FreigSanProLig.otf') format('opentype');
}

@font-face {
    font-family: "FreightSansProSemiBold";
    src: url('../fonts/FreigSanProSem.otf') format('opentype');
}


@font-face {
    font-family: "FreightSansProMedium";
    src: url('../fonts/FreigSanProMed.otf') format('opentype');
}

.headings {
    text-align: center;
    font-family: "FreightSansProMedium";
    font-size: 14pt;
    color: #ffffff;
}

.insta-info {
    text-align: center;
    font-family: "FreightSansProLight";
    font-size: 12pt;
    color: #ffffff;
}

.heading-gallery {
    text-align: center;
    font-family: "FreightSansProSemiBold";
    font-size: 16pt;
    color: #007398;
}

.gallery-name {
    margin-top: 3pt;
    text-align: center;
    font-family: "FreightSansProLight";
    font-size: 10pt;
    color: #3EB1C8;
}

.left {
    float: left;
    width: 33.3%;
    background-color: #f5f5f5;
}

.gallery-pain-left {
    width: 104pt;
    float: left;
    margin-left: 13%;
}

.gallery-pain-right {
    width: 104pt;
    float: left;
    margin-left: 18pt;
}

.top-album {
    width: 226pt;
    margin-left: 13%;
}

.left-albums {
    width: 104pt;
}

.right-albums {
    width: 104pt;
}

.right {
    float: left;
    width: 66.6%;
    background-color: #626262;
    padding-bottom: 25pt; 
}

.middle {
    float: left;
    width: 45%;
}

.far-right {
    float: left;
    width: 55%;
}

.twitter {
    height: 200px;
    overflow-y: scroll;
    width: 226pt;
    background-color: #ffffff;
}

div.coming {
    background-color: #f9b625;
    height: 305pt;
    width: 226pt;
}

p.coming {
    text-align: center;
    vertical-align: middle;
    font-family: "FreightSansProLight";
    font-size: 14pt;
    color: #666062;
}

.right-top {
    float: left;
    height: 155pt;
    width: 226pt;
}

.youtube-vid {
    width: 226pt;
    background-color: #f9b625;
    height: 120pt;
}

.right-middle {
    float: left;
    height: 155pt;
}

.bottom-right {
    margin-top: 20pt;
    float: left;
    width: 484pt;
}

.insta-feed {
    width: 484pt;
    background-color: #f9b625;
    height: 82pt;
}
