/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 23, 2014, 11:17:46 PM
    Author     : kylereis
*/

@font-face {
    font-family: "FreightSansProBold";
    src: url('../fonts/FreigSanProBold.otf') format('opentype');
}

@font-face {
    font-family: "FreightSansProSemiBold";
    src: url('../fonts/FreigSanProSem.otf') format('opentype');
}

@font-face {
    font-family: "FreightSansProItalic";
    src: url('../fonts/FreigSanProLigIt.otf') format('opentype');
}

@font-face {
    font-family: "FreightSansProLight";
    src: url('../fonts/FreigSanProLig.otf') format('opentype');
}

@font-face {
    font-family: "FreightSansProMedium";
    src: url('../fonts/FreigSanProMed.otf') format('opentype');
}

.top {
    height: 212pt;
    width: 100%;
    background-color: #f8f8f9;
}

.box {
    float: left;
    width: 340pt;
}

.text#housing {
    margin-top: 65pt;
    text-align: center;
}

.housing#line2 {
    margin-top: 3pt;
}

.housing#line3 {
    margin-top: -7pt;
}

p.housing {
    font-family: "FreightSansProLight";
    font-size: 12pt;
    color: #666062;
}

p.housing#line1 {
    font-family: "FreightSansProSemiBold";
    font-size: 14pt;
    color: #727375;
}

span.housing {
    font-family: "FreightSansProMedium";
    font-size: 12pt;
    color: #3eb1c8;
}

.picture {
    width: 514pt;
    float: right;
}

.title-heading {
    margin-top: 24pt;
    margin-left: 30pt;
    font-family: "FreightSansProSemiBold";
    font-size: 18pt;
    color: #f9b625;
}

.bottom {
    margin-top: 28pt;
}

.shift {
    margin-left: 30pt;
}

.resources {
    float: left;
    width: 33.3%;
}

.headings {
    font-family: "FreightSansProSemiBold";
    font-size: 14pt;
    color: #727375;
}

.subheadings {
    font-family: "FreightSansProBold";
    font-size: 12pt;
    color: #727375;
}