/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2015, 1:53:44 PM
    Author     : kylereis
*/

@font-face {
    font-family: "FreightSansProLight";
    src: url('../fonts/FreigSanProLig.otf') format('opentype');
}

@font-face {
    font-family: "FreightSansProMedium";
    src: url('../fonts/FreigSanProMed.otf') format('opentype');
}

@font-face {
    font-family: "FreightSansProSemiBold";
    src: url('../fonts/FreigSanProSem.otf') format('opentype');
}

.mtl {
    background-color: #262626;
    width: 1170px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header-mtl {
    text-align: center;
    font-family: "FreightSansProMedium";
    font-size: 16pt;
    color: #ffffff;
}

.header-lines-mtl {
    width: 95%;
}

.staff {
    background-color: #626262;
    width: 1170px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header-staff {
    text-align: center;
    font-family: "FreightSansProMedium";
    font-size: 16pt;
    color: #ffffff;
}

.header-lines-staff {
    width: 95%;
}

.intern {
    background-color: #F5F5F5; //5% grey
    width: 1170px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header-intern {
    text-align: center;
    font-family: "FreightSansProMedium";
    font-size: 16pt;
    color: #007398;
}

.header-lines-intern {
    width: 95%;
    border-color: #626262;
}

.header {
    width: 100%;
}

.card {
    background-color: #ffffff;
    width: 340px;
    height: 100px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.picture {
    float: left;
    width: 60pt;
    height: 60pt;
    margin-top: 7pt;
    margin-left: 10pt;
}

.mtl-name {
    margin-top: 8pt;
    font-family: "FreightSansProSemiBold";
    font-size: 12pt;
    color: #007398;
    text-align: center;
    margin-top: 20px;
}

.staff-name {
    margin-top: 8pt;
    font-family: "FreightSansProSemiBold";
    font-size: 12pt;
    color: #f9b625;
    text-align: center;
    margin-top: 20px;
}

.intern-name {
    margin-top: 8pt;
    font-family: "FreightSansProSemiBold";
    font-size: 12pt;
    color: #3eb1c8;
    text-align: center;
    margin-top: 20px;
}

.role {
    margin-top: -8pt;
    font-family: "FreightSansProMedium";
    font-size: 10pt;
    color: #666062;
    text-align: center;
}

.email {
    font-family: "FreightSansProLight";
    font-size: 10pt;
    color: #666062;
    text-align: center;
    margin-top: -8pt;
}

a, a:hover{
    color: inherit;
}